<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msl.mslapp">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mslapp"
        android:label="MSL"
        android:roundIcon="@mipmap/ic_mslapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bluetooth">
        <activity android:name="com.msl.mslapp.MenualActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.msl.mslapp.BleMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </activity>

        <activity android:name="com.msl.mslapp.RTUMainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

    </application>


</manifest>